/.vscode
/PythonCourse.py
/cisco_zad_1.py
/cisco_zad_2.py
/contacta.py
/expenses.py
/expenses_1.py
/hello.py
/loan.py
/movie_schedule.py
/rock_paper_scissor.py
/space_people.py
/tax.py
/venv
/weather.json
/weather.py